{% extends 'base.html.twig' %}

{% block title %}Form{% endblock %}

{% block body %}
{{ form(formContact) }}
<button class='contactBtn'>Add a contact</button>
{# 
{{ form_start(form) }}

<fieldset>
    <legend>CONTACT</legend>
{{ form_row(form.idContact.vars.prototype) }}
</fieldset>

<fieldset>
    <legend>PROJECT</legend>
{{ form_end(form) }}
</fieldset> #}


{{ form(formProject) }}


<style>
.cache {
    display: none;
}
</style>
<script>
var formContact = document.getElementById('contact');
const showContactForm = (e) => {
    formContact.classList.toggle('cache');
    console.log('click');
}

formContact.classList.add('cache');
document.querySelectorAll('contact').forEach(button => {
    button.addEventListener('click', showContactForm)
});

document.querySelectorAll('.contactBtn').forEach(btn => {
        btn.addEventListener('click', showContactForm)
    });
</script>
{% endblock %}


